[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
mukon_messenger = "GCTzU7Y6yaBNzW6WA1EJR6fnY9vLNZEEPcgsydCD8mpj"

[programs.devnet]
mukon_messenger = "GCTzU7Y6yaBNzW6WA1EJR6fnY9vLNZEEPcgsydCD8mpj"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
